body{
    background-color: black;
    color: white;
}
.foto{
    border: 5px solid white;
    width: 100%;
}
div{
   
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
}
.type{
    font-family: "Caveat", serif;
    font-optical-sizing: auto;
    font-style: normal;
}